
div h1{ 
    color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    background-color: rgb(240, 230, 217);
    height: 60px;
    padding: 10px;
    margin: auto;




}
div p{ font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p::first-line{ 
    color: rgb(114, 38, 38);
}
 div a{text-decoration: underline;
color: rgb(50, 2, 95);
cursor: grab;
}
a:hover{
    color: blue;
}
a:visited{ 
    color: olivedrab;
}
    font: size 18px;}

div dl{ font-size:20px;
font-style: oblique;}

div ul{
    list-style: symbols();
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}